@font-face {
    font-family: "Lovello";
    src: url("fonts/Lovelo-LineBold.eot");
    src: url("fonts/Lovelo-LineBold.woff") format("woff");
}

/* Style the video: 100% width and height to cover the entire window */
.video_container {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -100;
}

#home, body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#home {
    height: 90%;
    align-items: center;
    justify-content: center;
}

#footer {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 10%;
    background-color: #000;
    bottom: 0;
}

#footer > ul {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    margin: auto 20%;
}

h1 {
    display: block;
    font-family: Lovello;
    font-weight: normal;
    font-style: normal;
    font-size: 7vw;
    padding: 20px;
    margin: 0px;
 }

.brand_container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.295);
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer_social_logo {
    max-width: 33%;
    min-height: 33%;
}
