@font-face {
    font-family: "Lovello";
    src: url("fonts/Lovelo-LineBold.eot");
    src: url("fonts/Lovelo-LineBold.woff") format("woff");
}

h1 {
    display: block;
    font-family: Lovello;
    font-weight: normal;
    font-style: normal;
    font-size: 7vw;
    padding: 20px;
    margin: 0px;
 }

ul {
    list-style: none;
}

/* Style the video: 100% width and height to cover the entire window */
.video_container {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -100;
}

#home, body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#home {
    height: 90%;
    align-items: center;
    justify-content: center;
}

.brand_container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.295);
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#footer {
    position: absolute;
    display: block;
    width: 100%;
    min-height: 10%;
    background-color: #000;
    bottom: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: auto;
    width: 70%;
    margin: auto;
}

.social_links_grp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 43%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.footer_social_logo {
    width: 45px;
}